<h1>logout페이지 입니다.</h1>
<a href="/">index</a> <a href="/login">login</a>
<%= console.log(context.key1); %>

<br><br>
방식1 <br>
<%= context['key1'] %><br>
<%= context['key2'] %><br>
<%= context['key3'][0] %><br>
<%= context['key4']['k1'] %><br>
<%= context['key4']['k2'] %><br><br>

방식2<br>
<%= context.key1 %><br>
<%= context.key2 %><br>
<%= context.key3[0] %><br>
<%= context.key4['k1'] %><br>
<%= context.key4.k2 %><br>