<hr><%- include("../default/header") %><hr>

<h3>list 페이지 입니다.</h3>

<table border="1">
    <tr>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>주소</th>
    </tr>
<%member.forEach(list => {%>
    <tr>
        <td><%=list.ID%></td>
        <td><%=list.PWD%></td>
        <td><a href="/member/info?id=<%=list.ID%>"><%=list.NAME%></a></td>
        <td><%=list.ADDR%></td>
    </tr>
<%})%>
</table>